@import "@/styles/variables";

.empty_state_container {
	width: 100%;
	height: calc(100vh - 114px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.svg {
		z-index: -1;
		transform: translateY(25px);
	}

	.main_content {
		z-index: 1;
		background: #fff;
		padding: 20px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		&__heading {
			max-width: 250px;
			line-height: 145%;
			margin-bottom: 18px;
			font-size: 23px;
		}

		&__desc {
			color: #777;
			max-width: 229px;
			margin-bottom: 50px;
			line-height: 150%;
		}

		&__button {
			width: 144px;
			height: 45px;
			border: 2px solid transparent;
			border-radius: 4px;
			background: $primary-color;
			color: #fff;
			text-align: center;
			transition: 0.2s ease;
			cursor: pointer;

			&:hover,
			&:focus {
				background: #fff;
				border-color: $primary-color;
				color: $primary-color;
			}
		}
	}
}
