.question_wrapper {
	position: relative;
	margin-bottom: 35px;
	height: max-content;

	.input {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	.question_container {
		display: block;
		font-size: 18px;
		font-weight: 500;
		width: 100%;
		min-height: 38px;
		padding-bottom: 12px;
		pointer-events: none;
		color: #1d1e1f;
		border-bottom: 1px dashed #9d9d9d;
		z-index: 10;
		line-height: 1.5;
		word-spacing: 1px;

		&.inactive {
			color: #5c5c5c;
		}
	}
}

@media screen and (min-width: 1024px) {
	.question_wrapper {
		width: 75%;
	}
}
