.question_type {
	padding: 30px 5%;
	position: fixed;
	width: 100vw;
	height: calc(100vh - 114.5px);
	z-index: 10;
	top: 100%;
	background: #ffffff;
	opacity: 0.2;
	transition: 0.4s ease-in-out;

	&.show {
		top: 114.5px;
		opacity: 1;
	}

	&__heading {
		font-weight: 600;
		font-size: 21px;
		color: #202020;
		border-bottom: 2px solid #3c3a3a;
		margin-bottom: 48px;
		padding-bottom: 11px;
	}

	&__options_list {
		list-style: none;
		cursor: pointer;

		.option_type {
			display: flex;
			align-items: center;
			padding-bottom: 16px;
			margin-bottom: 16px;
			border-bottom: 1px solid rgba($color: #e5e5e5, $alpha: 0.5);

			&:last-child {
				border-bottom: none;
			}

			&__name {
				font-size: 17px;
				color: #1e1e1e;
				padding-left: 17px;
			}
		}
	}
}
