@import "../variables";
@import "./header";
@import "./sidebar";
@import "./quizCard";

.main {
	.content {
		.heading {
			font-size: 28px;
			font-weight: 700;
			padding: 18px 0 38px;
			color: #797979;
		}

		.recents_container {
			.aria_hidden {
				position: absolute;
				padding: 0;
				margin: 0;
				height: 0;
				width: 0;
				overflow: hidden;
				clip: rect(0 0 0 0);
			}

			&__heading {
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 26px;
			}
		}

		.quiz_list {
			&__heading {
				font-size: 22px;
				font-weight: 700;
				margin: 35px 0 26px;
			}

			&__content {
				list-style: none;
				max-width: 800px;
				margin-right: auto;

				&__list_item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					padding: 16px;
					border-bottom: 1px solid #e1dfdd;

					&:last-child {
						border-bottom: 0;
					}

					.col {
						display: flex;

						&.col1 {
							flex-basis: 33%;
							flex-direction: column;

							.quiz {
								&__heading {
									font-size: 16px;
									padding-bottom: 8px;
									word-wrap: break-word;
									font-weight: 500;

									a {
										font: inherit;
										text-decoration: none;
										color: inherit;
										transition: 0.2s ease-in-out;

										&:hover,
										&:focus {
											color: #686868;
										}
									}
								}

								&__updated_at {
									font-size: 14px;
									color: #605e5c;
								}
							}
						}

						&.col2 {
							justify-content: center;
							align-items: center;
							flex-basis: 33%;

							.quiz_response {
								&__count {
									padding-right: 6px;
								}
							}
						}

						&.col3 {
							flex-basis: 25%;
							align-items: center;
							justify-content: flex-start;

							span {
								padding-left: 8px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 599px) {
	.main {
		.content {
			padding: 16px;
			padding-right: 0;
			min-height: 100%;
			margin-bottom: 50px;
		}
	}
}

@media (min-width: 600px) {
	.main {
		display: flex;

		.content {
			padding: 24px 12px 24px 32px;
			flex-basis: calc(100% - 200px);
		}
	}
}

@media (max-width: 1023px) {
	.main {
		.content {
			.quiz_list {
				&__content {
					margin: 0 16px 20px 0;
					&__list_item {
						.col {
							&.col1 {
								flex-basis: 80%;
								overflow: hidden;
							}

							&.col2 {
								display: none;
							}

							&.col3 {
								justify-content: center;
								flex-basis: 15%;

								span {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.content {
		max-width: 1200px;
		margin: 0 auto;
	}
}
