// Plus Jakarta Sans
@font-face {
	font-family: "Jakarta Sans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(""),
		url("../fonts/jakartaSans/PlusJakartaSans-Light.woff2") format("woff2"),
		url("../fonts/jakartaSans/PlusJakartaSans-Light.woff") format("woff"),
		url("../fonts/jakartaSans/PlusJakartaSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Jakarta Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(""),
		url("../fonts/jakartaSans/PlusJakartaSans-Regular.woff2")
			format("woff2"),
		url("../fonts/jakartaSans/PlusJakartaSans-Regular.woff") format("woff"),
		url("../fonts/jakartaSans/PlusJakartaSans-Regular.ttf")
			format("truetype");
}

@font-face {
	font-family: "Jakarta Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(""),
		url("../fonts/jakartaSans/PlusJakartaSans-Medium.woff2") format("woff2"),
		url("../fonts/jakartaSans/PlusJakartaSans-Medium.woff") format("woff"),
		url("../fonts/jakartaSans/PlusJakartaSans-Medium.ttf")
			format("truetype");
}

@font-face {
	font-family: "Jakarta Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(""),
		url("../fonts/jakartaSans/PlusJakartaSans-Bold.woff2") format("woff2"),
		url("../fonts/jakartaSans/PlusJakartaSans-Bold.woff") format("woff"),
		url("../fonts/jakartaSans/PlusJakartaSans-Bold.ttf") format("truetype");
}

/* pontano-sans-regular */
@font-face {
	font-family: "Pontano Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(""),
		url("../fonts/pontanoSans/pontano-sans-v8-latin-regular.woff2")
			format("woff2"),
		url("../fonts/pontanoSans/pontano-sans-v8-latin-regular.woff")
			format("woff"),
		url("../fonts/pontanoSans/pontano-sans-v8-latin-regular.ttf")
			format("truetype");
}
