$heading-font: "nunitoSans";
$body-font: "openSans";
$primary-color: #213df0;
$secondary-color: #4a6ef0;
$teritary-color: #aabcff;
$main-color2: #f95738;

$white: #ffffff;
$mild-black: #323232;
$black: #000000;
$input-border: #b8b8b8;

$jakarta: "Jakarta Sans";
$pontano: "Pontano Sans";
