@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables";
@import "./fonts";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    outline: none !important;
}

html,
body {
    scroll-behavior: smooth !important;
    text-rendering: optimizeLegibility;
}
