@import "@/styles/variables";

.main {
	position: relative;
	margin: 20px 5%;

	&.empty {
		min-width: 100vw;
		height: calc(100vh - 114px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
	}
}

// Add new question (sticky button)
// -----------------------------
.add_new_question {
	&__sticky_btn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		right: 10%;
		bottom: 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 0px;
		box-shadow: 0.5px 1px 7px 0 rgba($color: $primary-color, $alpha: 0.5);
		background: $primary-color;
		transition: 0.3s ease;
		z-index: 15;

		svg {
			transition: 0.25s ease;
		}

		&:hover,
		&:focus {
			background: #3921f0;
		}

		&.focused {
			svg {
				transform: rotate(45deg);
			}
		}
	}
}

// Save Button
.saveQuestion {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $primary-color;
	color: #fff;
	font-size: 16px;
	padding: 16px 32px;
	outline: none;
	border: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
}
